name: Docker Build Test

on:
  push:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md**'
    branches: [main]
  workflow_dispatch:

jobs:
  check-docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3

      - name: Download keystone-cms image manifest
        uses: dawidd6/action-download-artifact@246dbf436b23d7c49e21a7ab8204ca9ecd1fe615 # v2
        with:
          github_token: ${{secrets.ACTION_DOWNLOAD_ARTIFACT_GITHUB_TOKEN}}
          workflow: build-docker-cache-artifacts.yml
          workflow_conclusion: success
          branch: main
          name: keystone-cms-index
          path: /tmp/keystone-manifest
          repo: USSF-ORBIT/ussf-portal-cms
          if_no_artifact_found: warn

      - name: Get docker image digest from keystone-cms manifest
        id: keystone_manifest
        run: |
          digest=$(cat /tmp/keystone-manifest/index.json | jq -r '.manifests[0].digest')
          echo "keystone_cms_docker_tag=${digest##sha256:}" >> $GITHUB_OUTPUT

      - name: Restore keystone cms Docker build cache
        uses: actions/cache/restore@v3
        id: restore-keystone-cache
        with:
          path: /tmp/portal-client
          key: ${{ runner.os }}-docker-keystone-cms-${{ steps.keystone_manifest.outputs.keystone_cms_docker_tag }}

      - name: If keystone-cms build cache not found locally, download portal-client build cache
        uses: dawidd6/action-download-artifact@246dbf436b23d7c49e21a7ab8204ca9ecd1fe615 # v2
        if: steps.restore-keystone-cache.outputs.cache-hit != 'true'
        with:
          github_token: ${{secrets.ACTION_DOWNLOAD_ARTIFACT_GITHUB_TOKEN}}
          workflow: build-docker-cache-artifacts.yml
          workflow_conclusion: success
          branch: main
          name: keystone-cms
          path: /tmp/keystone-cms
          repo: USSF-ORBIT/ussf-portal-cms
          if_no_artifact_found: warn

      - name: If keystone-cms build cache not found locally, save it to this repo's GHA cache
        uses: actions/cache/save@v3
        if: steps.restore-keystone-cache.outputs.cache-hit != 'true'
        with:
          path: /tmp/keystone-cms
          key: ${{ runner.os }}-docker-keystone-cms-${{ steps.keystone_manifest.outputs.keystone_cms_docker_tag }}

      - uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2
        id: buildx
        with:
          install: true

      - name: Add DoD Certificate Bundle
        env:
          CERT_BUNDLE_SHA256: ${{ secrets.DOD_CA_CERT_BUNDLE_SHA256 }}
        run: |
          echo "$CERT_BUNDLE_SHA256" > scripts/dod_ca_cert_bundle.sha256
          sudo bash scripts/add-dod-cas.sh

      - name: Build
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671 # v4
        with:
          context: .
          push: false
          tags: portal-client:${{ github.sha }}
          build-args: |
            BUILD=${{ github.sha }}
          cache-from: |
            type=local,src=/tmp/portal-client,tag=e2e
